.logo-wrapper {
  height: 48px;
  width: 200px;
  display: inline-block;
  cursor: pointer;
  // color: #ff7d4c;
  color: #ffffff;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  .content {
    .logo {
      width: 30px;
      vertical-align: text-top;
      margin-right: 6px;
      transform: translateY(-5px);
    }
  }

  .logo-image {
    width: 78px;
    height: 60px;
  }

  .logo-text {
    line-height: 60px;
    width: 200px;
  }
}
