.EasyMainStyle {
  background-color: #f0f2f5;
  .SearchCardStyle {
    margin: 10px;
    border-radius: 8px;
  }
  .TableCardStyle {
    margin: 10px;
    border-radius: 8px;
    :global .ant-card-body {
      padding: 0;
    }
  }
}
