.BigData-admin {
  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .menu-select {
    width: 100%;
  }

  .ant-table-body {
    background-color: #fff;
  }

  .admin-list {
    margin-top: 24px;
  }
}
