
.app-container {
  .app-button--center {
    text-align: center;
  }
  .app-search__simple {
    .el-input {
      width: 145px;

      & > input {
        height: 30px;
        line-height: 30px;
      }
    }
  }
  .app-search__single {
    .el-input > input {
      border: none;
    }
  }
}

.app-nodata {
  line-height: 100px;
  text-align: center;
}

.app-detail {
  &--item {
    .el-form-item__label {
      line-height: 25px;
    }
    .el-form-item__content {
      line-height: 25px;
    }
  }
}
