.app-margin {
  margin: @base-padding;
}
.app-margin--top {
  margin-top: @base-padding;
}
.app-margin--right {
  margin-right: @base-padding;
}
.app-margin--bottom {
  margin-bottom: @base-padding;
}
.app-margin--left {
  margin-left: @base-padding;
}
