.app-padding {
  padding: @base-padding;
}
.app-padding--horizontal {
  padding: 0 @base-padding;
}
.app-padding--vertical {
  padding: @base-padding 0 ;
}
.app-padding--container {
  padding: 0 @base-padding @base-padding @base-padding;
}
.app-padding--top {
  padding-top: @base-padding;
}
.app-padding--bottom {
  padding-bottom: @base-padding;
}
.app-padding--right {
  padding-right: @base-padding;
}
.app-padding--left {
  padding-left: @base-padding;
}
