.changelog .search-btn{
  position: relative; left: -68px;
}
.changelog-detail-modal .warning{
  color: red; margin-top: 20px;
}
.changlog-list{
  .detail-btn{
    color: #ff7d4c; cursor: pointer;
  }
}