.apply-notice-preview{
  .action-btn{
    margin-right: 40px;
  }
  .preview-container{
    border: 1px solid red; border-radius: 5px; padding: 5px;
    width: 100%;
    min-height: 400px;
    img{
      max-width: 100%;
    }
  }
}