.project-footer{
  width: 100%;
  min-width: 1200px;
  // height: 300px;
  float: left;
  background: #1e3750;

  &-container{
    margin: 0 auto;
    padding-top: 48px;

    width: 1200px;

    ul{
      margin-right: 40px;
      float: left;

      width: 140px;

      p{
        margin-bottom: 36px;
        color: #ffffff;
        font-size: 18px;
      }
      li{
        line-height: 36px;
        color: #909293;
        font-size: 14px;
        a{
          color: #909293;
          transition: none;
          &:hover{
            color: #4260e8;
          }
        }
      }
    }
    dl{
      float: right;
      dt{
        margin-bottom: 36px;
        color: #ffffff;
        font-size: 18px;
      }
      dd{
        background-color: #ffffff;
        width: 150px;
        height: 150px;
        padding:10px;
        img{
          width: 130px;
        }
      }
    }
  }
  .bottomInfo{
    margin-top: 20px;
    float: left;
    background-color: black;
    
    width: 100%;
    height: 50px;

    color: #5a5a5a;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
  }
}
