
<% if(!params.noSource){ %>
    <link rel="stylesheet" href="<%= config %>/static/css/yy_bigData.css">
<% } %>

<% for(var i=0;i<10;i++){%>
<div class="rxhBD_text rxh_text01">
    <div class="rxh_hd_text">
        <b></b><span>杭可科技（A19075）机械科创巡礼之三：的优质锂电池产品后段设备龙头</span>
    </div>
    <div class="rxh_bd_text">
        <h5>股东人数近期数量增加。力源信息在同行业内盈利能力较强，现金流较充足，风险较小，成长能力一般，运营能力强。</h5>
        <h6 class="rxh_date">发布日期：2018-12-17</h6>
    </div>
</div>
<%}%>



<% if(!params.noSource){ %>
    <script src="../../static/js/libs/jquery-1.11.2.min.js"></script>
<% } %>

<script>

</script>

