.rxh_t{}
.rxh_t table{border-collapse: collapse;border: 1px solid #E5E5E5;}
.rxh_t th{border: 1px solid #E5E5E5;}
.rxh_t td{background-color:#ffffff;text-align: center;height: 35px;min-width: 110px;white-space: nowrap;border: 1px solid #E5E5E5;}
.rxh_t span{font-size: 10px;color: #424242;}