.fadeIn-enter-active {
  animation: fadeIn .5s;
}
.fadeIn-leave-active {
  animation: fadeIn .5s reverse;
}
.fadeInRight-enter-active {
  animation: fadeInRight .5s;
}
.fadeInRight-leave-active {
  animation: fadeInRight .5s reverse;
}
.fadeInDown-enter-active {
  animation: fadeInDown .5s;
}
.fadeInDown-leave-active {
  animation: fadeInDown .5s reverse;
}
.fadeInLeft-enter-active {
  animation: fadeInLeft .5s;
}
.fadeInLeft-leave-active {
  animation: fadeInLeft .5s reverse;
}
.fadeInUp-enter-active {
  animation: fadeInUp .5s;
}
.fadeInUp-leave-active {
  animation: fadeInUp .5s reverse;
}
