.verify-code {
  vertical-align: middle;
}
.next-but{
  width: 80%;
  height: 40px;
  background-color: #FC9153;
  border: none;
  border-radius: 5px;
  margin-left: 50%;
  color: #ffffff;
  font-size: 20px;
  transform: translate(-50%,0);
  position: absolute;
}
