.collapseTag {
  transition: all 0.5s;
}
.collapseTagUp {
  transform: rotate(0deg);
}
.collapseTagDown {
  transform: rotate(180deg);
}
.searchBoxHeight {
  transition: max-height 0.5s ease-in;
  overflow: hidden;
}
.searchBoxForAll {
  max-height: 300px;
}
.searchBoxForSome {
  max-height: 48px;
}
