@import '~antd/lib/style/themes/default.less';
.approve-detail-container {
  .float-window {
    float: right;
  }
  .detail-header {
    // padding: 0 12px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 20px;
      color: #444444;
      line-height: 32px;
      // flex: 0 0 100px;
      // float: left;
    }
    .support {
      .shortcut-wrapper {
        // width: 666px;
        display: flex;
        justify-content: flex-end;
        .shortcut-remark {
          margin-right: 12px;
          flex: 1;
          display: flex;
          .shortcut-title {
            flex: 0 0 90px;
            display: inline;
            line-height: 32px;
            font-size: 16px;
            padding-left: 6px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .shortcut-approve-input {
            // width: 360px;
            flex: 1;
          }
        }
        .options-wrapper {
          .option-button {
            margin-right: 8px;
          }
        }
      }

      // float: right;
    }
  }
  // .approve-detail {
  //   .card-head {
  //     .card-button {
  //       .approve-doing-text {
  //         color: @info-color;
  //       }
  //       .approve-success-text {
  //         color: @primary-color;
  //       }
  //       .approve-fail-text {
  //         color: @error-color;
  //       }
  //       .approve-recall-text {
  //         color: @warning-color;
  //       }
  //     }
  //   }
  // }
}
