@function n($a){
    @return $a/67.5+rem;
}

@import './theme.scss';


header{
    width: 100%;
    height:n(132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color_header_bg;
    color: $color_header_font;
    font-size: n(48);
    box-sizing: border-box;
    padding: 0 n(35);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    i{
        font-size: n(43) !important;
    }
    span{
        &:nth-of-type(1){
            margin-left: n(-15);
        }
        &:nth-of-type(2){
            font-weight:bold;
        }
    }
}