@import '../../../../styles/variables.less';

.upm-manage-menu {
  .ant-spin-container {
    overflow: visible;
  }

  // padding-top: 10px;

  // border-top: 1px solid @body-background-color;

  .ant-menu-inline {
    border-right: none;

    .ant-menu-item {
      margin-top: 0;
    }
  }
  .base-line {
    color: #ddd;
  }

  .ant-divider.ant-divider-horizontal.ant-divider-with-text {
    color: #ddd;
  }
}
