<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="摄星智能,互联网,军事,sharsee,sharsee.com,人工智能,自然语言,识别,解决方案">
    <meta name="description" content="摄星科技是一家立志于做中国智慧防务的先行者与领导者的初创公司，以垂直领域内外数据为“护城河”，为防务提供智能技术服务，包括数据分析、智能产品以及解决方案。">
    <meta name="application-name" content="摄星智能 官网">
	<title>摄星智能 官网</title>
</head>
<body>
<div class="content">
    <ul class="venus-menu">
        <li class="active"><a href="#"><i class="icon-home"></i>首页</a></li>
        <li><a href="#"><i class="icon-magic"></i>About</a></li>
        <li>
            <a href="#"><i class="icon-thumbs-up"></i>Services</a>
            <ul>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Hosting</a></li>
                <li>
                    <a href="#">Design</a>
                    <ul>
                        <li><a href="#">Graphics</a></li>
                        <li><a href="#">Vectors</a></li>
                        <li>
                            <a href="#">Photoshop</a>
                        </li>
                        <li><a href="#">Fonts</a></li>
                    </ul>
                </li>
                <li><a href="#">Consulting</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="icon-quote-right"></i>Blog</a></li>
        <li><a href="#"><i class="icon-envelope-alt"></i>Contact</a></li>
    </ul>
</div>
</body>

</html>
