.editable-cell {
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  display: flex;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  cursor: pointer;
}

.editable-cell-input {
}

.editable-cell-icon {
  line-height: 20px;
  margin-left: 24px;
}

.editable-cell-icon-check {
  line-height: 30px;
  margin-left: 24px;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}
