.welcomeContainer {
  padding: 20px 150px;
  .welcomeHeader {
    padding-left: 20px;
    border-left: solid 5px #a7b7cc;
  }
  .welcomeImg {
    display: block;
    margin: 60px auto;
    width: 80%;
  }
}
