.upm-account-rele-region {
  &__info {
    max-height: 150px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__detail {
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
  &__filter {
    position: absolute;
    top: 2px;
    right: 6px;
  }
  .selected-list-li {
    display: flex;
    margin-top: 8px;
    .selected-list-li-label {
      white-space: nowrap;
    }
    .selected-list-li-tag {
      margin-bottom: 6px;
    }
  }
}
// .areaIconSelect:hover {
//   color: #ff7d4c;
//   cursor: pointer;
// }
