.Dimension {
  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .dimension-detail {
    margin-top: 24px;

    .edit-btn {
      float: right;
    }

    .content {
      margin-left: 6px;
    }
  }

  .dimension-name-field {
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
  }

  .dimension-select {
    width: 100%;
  }

  .add-btn,
  .delete-btn {
  }

  .add-btn {
    margin-left: 12px;
  }

  .form-area {
    padding: 12px;
  }

  .edit-form {
    margin-top: 24px;
  }

  .reset-btn {
    float: right;
    margin-top: 3px;
  }

  .dimension-name-input {
    display: inline-block;
  }
}
