.EasyMain {
  background-color: #f0f2f5;
  .SearchCard {
    margin: 10px;
    border-radius: 8px;
  }
  .TableCard {
    margin: 10px;
    border-radius: 8px;
    //:global .ant-card-body {
    //  padding: 0;
    //}
  }
}

.NoPaddingSearchCard {
  border-radius: 8px;
}

.NoPaddingTableCard {
  border-radius: 8px;
  :global .ant-card-body {
    padding: 0;
  }
}

.DiyColumnButton {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}
