$color_bg:#191a22;
$color_font:#fff;
$color_border:#fff;
$color_nav_bg:#f6f7f9;
$color_li:#a5abba;
$color_li_one:#fff;
$color_li_one_bg:#fff;
$li_icon:#424242;
$list_span:#6a6a6e;
$t_red:#e82c3a;
$t_green:#00b167;
$h4_bg:#2d2f3a;
$info:#9a9a9c;
$color_top:#424242;
$color_span:#6a6a6e;
$color_p:#424242;
$color_header_font:#fff;
$color_header_bg:#161822;