.content-area-s {
  width: 500px;
  
  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .search-button {
    .ant-form-item {
      display: flex;
      justify-content: center;
    }
  }

  .close-button{
    float: right;
    margin: 5px 5px 0 0;
  }
}