.ManageAdmin-page {
  .app-selector {

  }

  .submit-app-btn {
    margin-right: 12px;
  }

  .bottom-spacer {
    margin-bottom: 12px;
  }

  .admins-btn + .admins-btn {
    margin-left: 12px;
  }
}

.bind-user-area {
  margin-bottom: 24px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  .user-name-input {
    margin-right: 10px;
    width: 300px;
  }
  .user-bind-btn {
    float: right;
  }
}
