.CityBlacklist {
  .bottom-spacer {
    margin-bottom: 24px;
  }

  .bind-city-area {
    display: flex;
    align-items: center;
    margin-top: 24px;

    .city-input {
      width: 200px;
      margin-right: 12px;
    }
  }
}
