.permission-confirm {
  background-color: #f3f4f5;

  .search-fields {
    position: relative;
    .ant-btn {
      margin-right: 12px;
    }
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
      width: 50px;
    }

    .form-select {
      width: 100%;
    }
    .ant-col {
      .ant-form-item {
        margin-bottom: 12px;
      }
    }
  }

  .content-area {
    background-color: #fff;
    padding: 14px;
    .batch-options {
      height: 32px;
      position: relative;
      margin-bottom: 20px;
      .ant-btn {
        margin-right: 12px;
      }
    }
  }
  .content-table {
    background-color: #fff;
    padding: 24px 24px 0 24px;
    // box-shadow: 0 0 30px 6px #eff0f2 inset;
  }

  // .mutiRow {
  //   display: -webkit-box;
  //   -webkit-box-orient: vertical;
  //   -webkit-line-clamp: 2;
  //   overflow: hidden;
  //   cursor: pointer;
  // }

  // .mutiRow.open {
  //   display: block;
  // }
  .upm-table {
    margin-top: 16px;
    td.approver,
    td.roles {
      word-break: break-word;
    }
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .ant-card-body {
    padding: 0;
  }
}
// .ant-table-thead > tr > th,
// .ant-table-tbody > tr > td,
// .ant-table-body th,
// .ant-table-body td {
//   word-break: normal;
// }

.pop-press-approver {
  width: 500px;
  h4 {
    margin-bottom: 20px;
  }
  .note {
    color: red;
    margin: 10px 0 20px;
  }
  .btns {
    text-align: center;
    margin-bottom: 10px;
  }
}
.username-list {
  color: #ff7d4c;
  background: #000;
}
.submitTootip {
  .ant-tooltip-inner {
    max-width: 186px;
    min-width: 184px;
    background-color: rgba(0, 0, 0, 0.56);
  }
}
