.dsrc-main {
  .ant-pagination-item-active,
  .ant-pagination-item:focus,
  .ant-pagination-item:hover {
    background-color: @default-primary-color;

    a {
      color: #fff;
    }
  }

  .ant-breadcrumb a {
    color: @default-primary-color;
  }
  .ant-tabs {
    .ant-tabs-bar {
      border-color: #ffffff;
      .ant-tabs-ink-bar {
        background-color: #ffffff;
      }
      .ant-tabs-tab {
        padding-left: 0;
        padding-right: 0;
        margin: 0 2 * @base-padding 0 0;
        border-color: transparent;
        background: transparent;
        .ant-tabs-tab-active {
          border-color: #ffffff;
          background: #ffffff;
        }
      }
    }
    .ant-tabs-content {
      .ant-tabs-tabpane {
        background: #fff;
      }
    }
  }
  .ant-form-item-label,
  .ant-form-item-control {
    line-height: @form-line-height;
  }
}

.dsrc-text-tooltip{
  .ant-tooltip-content{
      color: #fff;
      .ant-tooltip-arrow{
          border-top-color:#FC9052
      }
      .ant-tooltip-inner{
           background-color: #FC9052;
           font-size: 12px;
           font-weight: normal;
      }
  }
}
