@header-height: 580px;
@base-padding: 15px;
@description-height: 50px;
@footer-height: 120px;
@line-height-base: 1.428571429; // 20/14
@max-width: 1200px;
@form-line-height: 30px;

//color
@default-primary-color: #fc9052;
@default-primary-bg: #ffffff;
@default-header-bg: #4a4c5b;
@default-normal-bg: #f3f4f5;
@default-title-color: #666666;
@default-border: #e8e8e8;
@default-nav-bg-color: #f6f7fc;
@default-nav-thumb-vertical: #cccccc;
@default-nav-thumb-horizontal: #cccccc;

@default-color-primary: #409eff;
@default-color-success: #67c23a;
@default-color-warning: #e6a23c;
@default-color-danger: #f56c6c;
@default-color-info: #a9a9a9;

.flex(@align-items, @justify-conten) {
  display: flex;
  align-items: @align-items;
  justify-content: @justify-conten
}
