.review-list {
}

.review-user-detail {
  .ant-layout-sider {
    margin-right: 16px;
    .search-review-name {
      text-align: center;
      margin-top: 10px;
    }
    .speed-progress {
      height: 24px;
      width: 100%;
      position: absolute;
      bottom: 4px;
      margin-bottom: 10px;
      padding: 0 10px;
    }
  }
  .main {
    height: 100%;
    .content-area {
      background-color: #f3f4f5;
      padding: 0;
      .ant-card-body {
        padding: 0;
      }
      .upm-table {
        margin-top: 16px;
        td.approver,
        td.roles {
          word-break: break-word;
        }
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

// .changelog .search-btn {
//   position: relative;
//   left: -68px;
// }
// .changelog-detail-modal .warning {
//   color: red;
//   margin-top: 20px;
// }
// .changlog-list {
//   .detail-btn {
//     color: #ff7d4c;
//     cursor: pointer;
//   }
// }

// .table__coloumn--ellipsis {
//   width: 200px;
//   display: inline-block;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
// }
