.editModal__statistic-num{
  width: 200px;
  float: left;
  margin-left: 40px !important;
  .ant-statistic-title{
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    margin-top: 4px;
  }
  &-right{
    display: inline-block;
    float: right;
    margin-right: 40px;
  }
}