.wrap{overflow: hidden;width: 1000px;margin: 0 auto}
.box{;overflow: hidden}
.box:nth-child(2){margin-top: 30px;}
.box-img{width: 600px;float: left}
.box-ajax{margin-left: 20px;float: left;width: 380px;text-align: center;}
.box-img img{width: 100%;height: auto;display: block}
.box_li{overflow: hidden;margin-top: 10px;font-size: 16px}
.box_li div{float: left;}
.box_li div:nth-child(2){margin-left: 10px;}
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;

}
.hide{
    display: none;
}
.show{
    display: block!important;
}

.spinner > div {
    background-color: rgb(221,221,221);
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}


@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
