<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <title>滴滴-权限系统-UPM</title>
    <!-- <meta dns-prefetch=//static.galileo.xiaojukeji.com> -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Cache" content="no-cache" />
    <!-- <link
      rel="shortcut icon"
      href="//static.galileo.xiaojukeji.com/static/tms/api/public/other/070b116331b897b5c06eb468f8fc72ed.ico"
      type="image/x-icon"
    /> -->
    <link
      rel="shortcut icon"
      href="/upm2-static/favicon.png"
      type="image/x-icon"
    />
    <!-- iconfont -->
    <!-- <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_539701_jsa0crpbd05uq5mi.css"
    /> -->
  </head>
  <body>
    <div id="root">
      <style>
        html,
        body,
        #root {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        .page-loading-warp {
          padding: 98px;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-98px);
        }
        .ant-spin {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: rgba(0, 0, 0, 0.65);
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5;
          list-style: none;
          -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
          position: absolute;
          display: none;
          color: #ff7d4c;
          text-align: center;
          vertical-align: middle;
          opacity: 0;
          -webkit-transition: -webkit-transform 0.3s
            cubic-bezier(0.78, 0.14, 0.15, 0.86);
          transition: -webkit-transform 0.3s
            cubic-bezier(0.78, 0.14, 0.15, 0.86);
          transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
          transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
            -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        }

        .ant-spin-spinning {
          position: static;
          display: inline-block;
          opacity: 1;
        }

        .ant-spin-dot {
          position: relative;
          display: inline-block;
          font-size: 20px;
          width: 20px;
          height: 20px;
        }

        .ant-spin-dot-item {
          position: absolute;
          display: block;
          width: 9px;
          height: 9px;
          background-color: #ff7d4c;
          border-radius: 100%;
          -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
          transform: scale(0.75);
          -webkit-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          opacity: 0.3;
          -webkit-animation: antSpinMove 1s infinite linear alternate;
          animation: antSpinMove 1s infinite linear alternate;
        }

        .ant-spin-dot-item:nth-child(1) {
          top: 0;
          left: 0;
        }

        .ant-spin-dot-item:nth-child(2) {
          top: 0;
          right: 0;
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
        }

        .ant-spin-dot-item:nth-child(3) {
          right: 0;
          bottom: 0;
          -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
        }

        .ant-spin-dot-item:nth-child(4) {
          bottom: 0;
          left: 0;
          -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
        }

        .ant-spin-dot-spin {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-animation: antRotate 1.2s infinite linear;
          animation: antRotate 1.2s infinite linear;
        }

        .ant-spin-lg .ant-spin-dot {
          font-size: 32px;
          width: 32px;
          height: 32px;
        }

        .ant-spin-lg .ant-spin-dot i {
          width: 14px;
          height: 14px;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .ant-spin-blur {
            background: #fff;
            opacity: 0.5;
          }
        }

        @-webkit-keyframes antSpinMove {
          to {
            opacity: 1;
          }
        }

        @keyframes antSpinMove {
          to {
            opacity: 1;
          }
        }

        @-webkit-keyframes antRotate {
          to {
            -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
          }
        }

        @keyframes antRotate {
          to {
            -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
          }
        }
      </style>
      <div
        style="
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 420px;
        height: 100%;
      "
      >
        <div class="page-loading-warp">
          <div class="ant-spin ant-spin-lg ant-spin-spinning">
            <span class="ant-spin-dot ant-spin-dot-spin"
              ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
              ><i class="ant-spin-dot-item"></i><i class="ant-spin-dot-item"></i
            ></span>
          </div>
        </div>
      </div>
    </div>

    <script
      async
      src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"
    ></script>
    <script>
      // if ('addEventListener' in document) {
      //   document.addEventListener(
      //     'DOMContentLoaded',
      //     function() {
      //       FastClick.attach(document.body);
      //     },
      //     false
      //   );
      // }
      if (!window.Promise) {
        document.writeln(
          '<script async src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"' +
            '>' +
            '<' +
            '/' +
            'script>'
        );
      }
    </script>
    <script>
      (function flexible(window, document) {
        var docEl = document.documentElement;
        var dpr = window.devicePixelRatio || 1;

        // adjust body font size
        // function setBodyFontSize () {
        //   if (document.body) {
        //     document.body.style.fontSize = (12 * dpr) + 'px'
        //   }
        //   else {
        //     document.addEventListener('DOMContentLoaded', setBodyFontSize)
        //   }
        // }
        // setBodyFontSize();

        // set 1rem = viewWidth / 10
        function setRemUnit() {
          var rem = docEl.clientWidth / 10;
          docEl.style.fontSize = rem + 'px';
        }

        setRemUnit();

        // reset rem unit on page resize
        window.addEventListener('resize', setRemUnit);
        window.addEventListener('pageshow', function(e) {
          if (e.persisted) {
            setRemUnit();
          }
        });

        // detect 0.5px supports
        if (dpr >= 2) {
          var fakeBody = document.createElement('body');
          var testElement = document.createElement('div');
          testElement.style.border = '.5px solid transparent';
          fakeBody.appendChild(testElement);
          docEl.appendChild(fakeBody);
          if (testElement.offsetHeight === 1) {
            docEl.classList.add('hairlines');
          }
          docEl.removeChild(fakeBody);
        }
      })(window, document);
    </script>
    <% if (htmlWebpackPlugin.options.IS_Oversea) { %>
    <script
      async
      src="//img0.didiglobal.com/static/watermaskglobal/water-mark1.0.js"
    ></script>
    <% } else { %>
    <script
      async
      src="//sec-aegisfe.didistatic.com/static/aegisfe/water-mark1.0.js"
    ></script>
    <% } %>
  </body>
</html>
