.btn {
  margin-left: 12px;
}

.delete-btn {
  margin-left: 0;
}

// .stop-btn,
// .edit-btn {
// }

.workflow-page {
  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .menu-select {
    width: 100%;
  }

  .ant-table-body {
    background-color: #fff;
  }

  .workflow-list {
    margin-top: 24px;

    .react-resizable {
      position: relative;
      background-clip: padding-box;
    }

    .react-resizable-handle {
      position: absolute;
      width: 10px;
      height: 100%;
      bottom: 0;
      right: -5px;
      cursor: col-resize;
      z-index: 1;
    }

  }

  .table__coloumn--ellipsis {
    width: 200px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.stepinfo-table-input-wrapper {
  display: flex;

  .stepinfo-table-input {
    margin-left: 12px;
  }
}

.upm-card-title--link {
  color: red;
  padding-left: 10px;
}

.edit-form {
  .section-info {
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
    padding-left: 0;
  }

  .ant-collapse-borderless > .ant-collapse-item, .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
  }
}
