
.container {
  background-color: #fff;
  padding: 20px 20px;
  .ant-form-item {
    display: flex;
    .ant-form-item-control-wrapper {
      width: 85%;
      .ant-select {
        width: 100%;
      }
    }
  }
}
