.app-container.orange {
  background-color: #EEF0F4;
  .app-container__header__logo {
    background-color: @orange-logo-bg;
  }
  .app-container__header__nav {
    background-color: @orange-header-bg;
    border-bottom-color: @orange-header-border;
  }
  .app-container__side {
    // background-color: @orange-side-bg;
    &__menu {
      color: @orange-menu-color;
    }
  }
  .app-container__main {
    &__crumbs {
      border-bottom-color: @orange-crumbs-border;
    }
  }
  .app-section {
    background-color: @orange-bg;
    border-color: @orange-border;
  }
  .app-bg {
    background-color: @orange-container-bg;
  }
  .app-normal-bg {
     background-color: @orange-bg;
  }
  .app-primary-bg {
    background-color: @orange-primary-bg;
  }
  .app-minor-bg {
    color: @orange-minor-color;
    background-color: @orange-minor-bg
  }
  .app-minor-light-bg{
    background-color: @orange-minor-light-bg;
  }
  .app-border {
    border-color: @orange-border;
  }
  .app-border--bottom {
    border-color: @orange-border;
  }
  a:link {
    color: #666666;
  }
  a:visited {
    color: #666666;
  }
  a:hover {
    color:@orange-primary-bg;
    cursor: pointer;
  }
  a:active {
    color:@orange-primary-bg;
  }
  // 颜色
  .app-color--primary {
    color: @orange-color-primary;
  }
  .app-color--success {
    color: @orange-color-success;
  }
  .app-color--warning {
    color: @orange-color-warning;
  }
  .app-color--danger {
    color: @orange-color-danger;
  }
  .app-color--info {
    color: @orange-color-info;
  }
}
