<% include ../../component/jsLoad %>
<% if(!params.noSource){ %>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="//weblibs.rxhui.com/compLibrary_rxh/css/themes/yy_white2.css?1.0">
    <link rel="stylesheet" href="//weblibs.rxhui.com/library_rxh2/style.css?1.0">
<% } %>

<!-- 港股通资金流向 赵波 2019.10.22 -->
<%if(info.data){%>
<%
var inStocks = info.data.list || [];
console.log(inStocks)
var len = inStocks.length;
var str = ""
for(var i=0;i<len;i++){
    str += inStocks[i].text + "<br>"
}
%>
<div class="rxh_bd" style="padding: 0 .625rem;line-height: 1.5rem;">
    <%- str%>
</div>
<% }else{ %>
    <div class="rxhBD_text rxh_text01">
        <div class="rxh_hd_text">
            <span>暂无数据</span>
        </div>
    </div>
<% } %>
<script>

  var stockMoneyFlowView<%- sn %> = {
    onViewReady: function () {

    }
  }

  <% if(!params.noSource) { %>
  var jsArr = JSON.parse('<%- JSON.stringify(params.jsArray) %>');
  loadJs(jsArr, stockMoneyFlowView<%- sn %>.onViewReady)
  <% } %>


</script>
