<% include ../../component/jsLoad %>
<% include ../../component/templateTitleView %>
<%
var data = info.data;
var list = data || [];
var rangList = [];
%>
<% if(!params.noSource){ %>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" href="//weblibs.rxhui.com/compLibrary_rxh/css/themes/yy_white2.css?1.0">
<link rel="stylesheet" href="//weblibs.rxhui.com/library_rxh2/style.css?1.0">
<% } %>
<% if(list.length > 0){ %>
    <div class="rxh_list rxh_list_1n" style="background: white">
        <ul class="rxh_gap">
        <% for(var i = 0; i < list.length; i++){ %>
            <% if(commonUtil.stringIsNotEmpty(list[i].text)){ %>
            <li><p><%- list[i].text || '' %></p></li>
            <% } %>
        <% } %>
        </ul>
    </div>
    <script>
      var riskNoticeView<%- sn %> = {
        onViewReady: function () {

        }
      }

      <% if(!params.noSource) { %>
      var jsArr = JSON.parse('<%- JSON.stringify(params.jsArray) %>');
      loadJs(jsArr, riskNoticeView<%- sn %>.onViewReady)
      <% } %>
    </script>


<% }else{ %>
    <div class="rxhBD_text rxh_text01">
        <div class="rxh_hd_text">
            <span>暂无数据</span>
        </div>
    </div>
<% } %>