<% include ../../component/params %>
<% include ../../component/minddleGroundHeader %>
<% include ../../component/jsLoad %>
<%
if (commonUtil.stringIsNotEmpty(info)) {
%>

<div class="rxh_bd2">
    <%= info %>
</div>

<%
}
%>