.EditableTree {
  border-right: 1px solid #e8e8e8;
  padding-right: 12px;

  .tree-area {
    min-height: 300px;
    max-height: 800px;
    overflow: auto;
    margin-top: 12px;
  }

  .add-icon,
  .del-icon {
    margin-left: 6px;
  }
  .search-input {
    margin: 12px 0;
  }
  .btn {
    margin: 6px 6px 0 0;
  }

  .select-input{
    width: 100%;
  }

  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: #e6b18d;
  }

  li.filter-node {
    display: none;
  }
}
