.systemError {
  padding: 30px;
  text-align: center;
  .errorContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .errorText {
    font-size: 14px;
    margin: 20px 0;
  }
}
