<%
var templateTitle = queryParams.templateTitle;
var templateTitleLeval = queryParams.templateTitleLeval;
if (templateTitle && commonUtil.stringIsNotEmpty(templateTitleLeval)) {
%>
</div></div>
<%
}else {
%>
</div>
<%
}
%>