.ManagePermissionGroup {
    .search-fields {
      .ant-form-item {
        display: flex;
      }
  
      .ant-form-item-label {
        overflow: visible;
      }
  
      .ant-form-item-control-wrapper {
        flex: 1;
      }
  
      .form-select {
        width: 100%;
      }
    }
  
    .content-area {
      padding: 14px;
    }
  }
  .ManagePermissionGroupPoint {
    .btn {
      margin-top: 20px;
    }
  }
  