.locale-label {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  color: rgba(255, 255, 255, .65);
  background-color: #001529;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, .025);
  }
}