/* Variables css */

/* Font */
@base-font: 14px;
@label-font: @base-font * 1.143;

/* Color */
@content-bg: #ffffff;
@base-border-color: #e8e8e8;
@body-background-color: #f5f7fa;

/* Layout */
@header-height: 64px;

/* Spacing */
@base-space: 24px;

/* Border */
@base-border: 1px solid @base-border-color;
