.manage-app-page {
  .app-list {
    margin-top: 24px;
  }

  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}
