.usermanage-page {
  .editing-field {
    .ant-form-item {
      display: flex;
    }
  
    .ant-form-item-label {
      overflow: visible;
    }
  
    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
  
  .menu-select {
    width: 100%;
  }

  .ant-table-body {
    background-color: #fff;
  }

  .defaultauth-list {
    margin-top: 24px;
  }
}

.bigdata-editing-field {
  display: flex;
}

.assign-auth{
  position: absolute;
  top: -44px;
  right: 32px;
}

.ant-card-body{
  position: relative;
}