.monitor-permission-group-page {
  background-color: #fff;
  padding: 20px 20px;
  .controller-pannel {
    .ant-row {
      .ant-col-12 {
        .ant-form-item {
          display: flex;
          .ant-form-item-label {
            overflow: visible;
          }
          .ant-form-item-control-wrapper {
            width: 100%;
            .ant-form-item-control {
              width: 100%;
              .ant-form-item-children {
                width: 100%;
                .AvailableAppsSelector {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .ant-table-wrapper {
    margin-top: 24px;
  }

  .ant-form {
    .select, .input {
      width: auto;
    }
  }

  .btn-mid {
    margin: 0 12px;
  }
}

