.SpaceRow {
  width: 100%;
  > :first-child {
    width: 100%;
  }

  :global .ant-form-item {
    margin-bottom: 0;
  }
}

.ImportModal {
  :global .ant-modal-footer {
    text-align: center;
  }
}

.EasyMainStyle {
  background-color: transparent;
  .SearchCardStyle {
    margin: 10px;
    border-radius: 8px;
  }
  .TableCardStyle {
    margin-top: 10px;
    border-radius: 8px;
    :global .ant-card-body {
      padding: 0;
    }
  }
}
