.success{
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  img{
    width: 100px;
    transform: translate(-50%,0);
    position: relative;
    margin-left: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h2{
    width: 100%;
    margin: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 0;
  }
  p{
    text-align: center;
  }

.next-but{
  width: 80%;
  height: 40px;
  background-color: #FC9153;
  border: none;
  border-radius: 5px;
  margin-left: 50%;
  color: #ffffff;
  font-size: 20px;
  transform: translate(-50%,0);
  position: absolute;
  margin-top: 30px;
}
}