.chart {
  background: #fff;
  h2 {
    padding-left: 15px;
    padding-top: 20px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 35px;
  }
  .item {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    span:first-child {
      padding: 0 5px;
      border-right: 1px solid #ccc;
    }
    span:nth-child(2) {
      color: #999;
    }
    span + span {
      padding-left: 15px;
    }
  }
}
