.ManageAreas {
  .btn {
    margin-left: 12px;
  }

  .ManageAreas-list {
    margin-top: 24px;
  }

  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .edit-form {
    margin-top: 24px;

    .ant-form-item-control {
    }

    .reset-btn {
      float: right;
      margin-top: 3px;
    }
  }

  .new-business-btn {
    float: right;
    margin-top: 5px;
  }

  .name-input {
    display: inline-block;
  }
  .SystemManagement{
    margin-left: 15%;
  }
}

.butCLose{
  height: 20px !important;
}
.AreasTable {
  margin-top: 12px;
  background-color: #fff;

  .delete-btn {
    margin-left: 12px;
  }
}
.ManageAreas_infoImport{
    padding:20px;
    box-sizing: border-box;
    i{
      color: #ff7d4c;
      font-size: 26px;
      position: absolute;
      top: 36px;
      left: 68px;
    }
    h4{
      width: 70%;
      font-weight: 400;
      font-size: 16px;
      margin: 0 auto 10px;
    }
    p{
      width: 70%;
      margin: 0 auto;
    }
}
.ManageAreas_Uploadbox{
  display: none;
}
