@import '~antd/es/style/themes/default.less';

.dateSelcet {
  text-align: right;
  a {
    margin-left: 24px;
    color: @text-color;
    &:hover {
      color: @primary-color;
    }
    &.currentDate {
      color: @primary-color;
    }
  }
}

.unitDiv {
  font-size: 12px;
  position: absolute;
  right: 25px;
  bottom: 35px;
}
