.user-selector-batch {
    margin-top: 4px;
    .tags-wrapper {
        border: 1px solid #eee;
        overflow: auto;
        height: 77px;
        padding: 0px 6px;
        line-height: 26px;
        .tag-wrapper {
            display: inline-block;
        }
    }
}