@import "../../../styles/variables.less";
.business-manage {
    min-height: 400px;
    .table-operate-wrap {
        .ant-btn {
            margin: 0 5px 5px 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-breadcrumb {
        padding: 10px 20px;
        background: @content-bg;
    }
    &-card {
        .ant-card-head {
            padding: 0 20px;
            border-left: 2px solid @primary-color;
            .ant-card-head-title {
                padding: 10px 0;
            }
        }
        .ant-card-body {
            padding: 20px;
        }
    }
    &-mod {
        margin-top: 20px; 
    }
    .pull-right {
        float: right;
    }
}