@import '../../themes/vars.less';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 52px;
  z-index: 1;
  align-items: center;
  height: 79px;
  line-height: 79px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      display: block;
    }

    h1 {
      margin: 0 0 0 35px;
      font-size: 18px;
      font-weight: 400;
      color: #444347;
    }
  }

  .rightContainer {
    display: flex;
    align-items: center;

    h2 {
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      margin: 0 40px 0 15px;
    }

    span {
      display: block;
    }

    img {
      display: block;
      width: 36px;
      height: 36px;
    }
  }
}
