.top {
  background: #fff;
  padding: 14px 24px;
  margin-bottom: 18px;
  :globle {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      font-size: 16px;
    }
    .ant-tag .ant-tag-checkable {
      font-size: 14px;
    }
  }
}
.content {
  background: #fff;
  padding: 12px 40px;
  min-height: 630px;
  .h3 {
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 12px;
  }
}

.rich {
  word-break: break-all;

  /* table 样式 */
  table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  table td,
  table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 13px 15px;
  }
  table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  table,
  pre {
    margin: 10px 0;
    line-height: 1.5;
  }
  /* blockquote 样式 */
  blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1;
  }
  /* code 样式 */
  code {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
  }
  pre code {
    display: block;
  }

  /* ul ol 样式 */
  ul,
  ol {
    margin: 10px 0 10px 20px;
  }
}
