.apply_form {
    .batch_options {
        text-align: right;
        line-height: 20px;
        .option {
          // color: #ff7d4c;
          // cursor: pointer;
          margin-left: 20px;
          height: 20px;
          padding: 0;
        }
    }
}