.apply-new-content {
  display: flex;
  background: #ffffff;
  .apply-new-form {
    padding-top: 32px;
    flex: 2;
  }
  .apply-new-notice {
    padding-top: 32px;
    // width: 550px;
    flex: 1;
  }
  img {
    max-width: 100%;
  }
}
