.project-banner{
  margin-top: 70px;
  width: 100%;
  min-width: 1200px;
  min-height: 380px;
  img{
    width: 100%;
  }
  .ant-carousel .slick-dots li button{
    width: 60px;
  }
  .ant-carousel .slick-dots{
    bottom:50px;
  }
}

.ant-back-top{
  bottom: 100px;
  right: 5% !important;
}
.ant-back-top-content {
  height: 50px;
  width: 50px;
  background:url('../../assets/home_to_top.png') no-repeat;
  background-size: 80%;
  background-position: center;
}
