<!DOCTYPE html>
<html>

<head>
    <title>漏洞详情</title>
    <meta name="keywords" content="滴滴，滴滴安全部，滴滴安全门户，安全门户，滴滴信息安全门户，滴滴信息安全部，安全部，滴滴安全产品，滴滴安全">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <link rel="dns-prefetch" href="//xiaojukeji.com" />
    <link rel="dns-prefetch" href="//static.galileo.xiaojukeji.com" />
    <link rel="dns-prefetch" href="//home.didichuxing.com" />
    <link rel="icon" href="/project/portals/i/logo.png?_v=953c28" />
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.css?_v=eea507">
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap-font.css?_v=9753fe">
    <link rel="stylesheet" type="text/css" href="/lib/angular-select2/select.css?_v=3b60b1">
    <link rel="stylesheet" type="text/css" href="/project/portals/css/bug-detail.css?_v=3825de">
</head>

<body>
    <!--[if lt IE 9]>   
<style>
    .browse-happy {
        background: #ccc;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1000;
    }
    
    .browse-happy h3 {
        position: absolute;
        width: 100%;
        top: 200px;
        text-align: center;
    }
</style>
<div class="browse-happy">
    <h3>你的浏览器版本 <strong>太低了</strong> 请<a href="http://browsehappy.com/">点击这里</a>升级你的浏览器</h3>
</div>
<![endif]-->
    <header class="header" style="height:70px">
        <header-html></header-html>
    </header>
    <div class="main">
        <div class="content" ng-controller="bug-detail as ctrl">
            <div class="content-header page-center">
                <h1 class="content-header-title arrow"><a href="/project/portals/pages/hole-list.html">漏洞列表</a></h1>
                <h1 class="content-header-title">漏洞详情</h1>
            </div>
            <div class="page-center" ng-cloak>
                <loading isloading="ctrl.isShowLoading"></loading>
                <div class="content-top" ng-cloak>安全漏洞单 <small>（单号:{{:: ctrl.pageData.holeId}}）</small></div>
                <progress url="/hole/getHoleProcessState" ng-cloak></progress>
                <form name="myForm">
                    <div class="wrap-info pt-30  p-form" ng-cloak>
                        <div class="info-con p-col-dis">
                            <span class="info-title">漏洞基本信息</span>
                            <div class="p-col-12">题目:<span>{{::ctrl.pageData.holeName}}</span></div>

                            <div class="p-col-6">状态:<span>{{::ctrl.pageData.holeState}}</span></div>
                            <div class="p-col-6">安全工程师：<span ng-bind-html="ctrl.pageData.safetyEngineerText | to_trusted"></span></div>

                            <div class="p-col-6">漏洞类型：<span>{{::ctrl.pageData.holeType1}}--{{::ctrl.pageData.holeType2}}</span></div>
                            <div class="p-col-6" ng-if="ctrl.pageData.repairPeopleText">修复人：<span ng-bind-html="ctrl.pageData.repairPeopleText | to_trusted"></span>
                            </div>

                            <div class="p-col-6">风险等级：<span>{{ctrl.pageData.riskLevel | getRiskLevel}}</span></div>
                            <div class="p-col-6" ng-if="ctrl.pageData.followersText">关注人： <span ng-bind-html="ctrl.pageData.followersText | to_trusted"></span></div>

                            <div class="p-col-6">漏洞来源：<span>{{::ctrl.pageData.holeSource1}}--{{::ctrl.pageData.holeSource2}}</span></div>
                            <div class="p-col-6" ng-if="ctrl.pageData.confirmTime">确认漏洞时间: <span>{{ctrl.pageData.confirmTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>

                            <div class="p-col-6">部门-产品线: <span>{{::ctrl.pageData.holeDept[0].productName}}</span></div>
                            <div class="p-col-6" ng-if="ctrl.pageData.expireTime">期望修复时间: <span> {{ctrl.pageData.showExpireTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>

                            <div class="p-col-12" ng-if="ctrl.pageData.createTime">漏洞上报时间： <span>{{::ctrl.pageData.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>
                            <div class="p-col-12">漏洞来源地址: <span>{{ctrl.pageData.holeSourceAddress || '无'}}</span></div>
                            <div class="p-col-12">受影响URL/IP/机器名： <span>{{::ctrl.pageData.holeEffectInfo.join(',')}}</span></div>
                            <div class="p-col-12">标签： <span ng-show="!ctrl.pageData.holeTags.length">无</span> <span class="mark" ng-repeat="item in ctrl.pageData.holeTags">{{item}} </span></div>
                        </div>

                        <div class="info-con wrap-editor-content">
                            <span class="info-title">漏洞详情</span>
                            <div id="js-holeDetail" ui-show-large-img ng-bind-html="ctrl.pageData.holeDetail | to_trusted"> </div>
                        </div>

                        <div class="info-con wrap-editor-content">
                            <span class="info-title">漏洞附件</span>
                            <a class="hole-attachment-name" href="{{ctrl.pageData.holeAttachments[0]}}" ng-if="ctrl.pageData.holeAttachments.length > 0" title="下载附件">附件</a>
                        </div>

                        <div class="info-con p-form-item form-flex">
                            <span class="info-title">修复建议</span>
                            <div class="wrap-input form-flex-item">{{ :: ctrl.pageData.repairRecommend}}</div>
                        </div>

                        <!-- <div class="info-con p-form-item form-flex" ng-show="ctrl.pageData.holeHarm">
                            <span class="info-title">漏洞危害</span>
                            <div class="wrap-input form-flex-item">{{ :: ctrl.pageData.holeHarm}}</div>
                        </div> -->
                        <!-- update by huangxiaomei 去掉ng-show-->
                        <div class="info-con p-form-item form-flex">
                            <span class="info-title">漏洞危害</span>
                            <div class="wrap-input form-flex-item">{{ :: ctrl.pageData.holeHarm}}</div>
                        </div>

                        <div class="info-con p-form-item form-flex" ng-show="ctrl.pageData.buttonState==106 && ctrl.pageData.ignoreReason">
                            <span class="info-title">漏洞忽略原因</span>
                            <div class="wrap-input form-flex-item">{{ :: ctrl.pageData.ignoreReason}}</div>
                        </div>

                        <div class="info-con p-form-item form-flex" ng-show="ctrl.pageData.buttonState==103 && ctrl.pageData.actualRepairPlan">
                            <span class="info-title">实际修复方案</span>
                            <div class="wrap-input form-flex-item">{{ :: ctrl.pageData.actualRepairPlan}}</div>
                        </div>

                        <div class="info-con p-form-item form-flex" ng-show="(ctrl.pageData.buttonState==103 || ctrl.pageData.buttonState==111) && ctrl.pageData.holeReason">
                            <span class="info-title">漏洞产生原因</span>
                            <div class="wrap-input form-flex-item">{{ :: ctrl.pageData.holeReason}}</div>
                        </div>

                        <div class="info-con" ng-cloak ng-if="[6,7,108,109,110].indexOf(ctrl.pageData.buttonState)!=-1">
                            <span class="info-title">不修复原因</span>
                            <div class="p-form-item form-flex" ng-if="ctrl.pageData.repairComment">
                                <label class="p-muti">修复人意见：</label>
                                <div class="wrap-input form-flex-item">{{ctrl.pageData.repairComment}}</div>
                            </div>
                            <div class="p-form-item form-flex" ng-if="ctrl.pageData.leaderComment">
                                <label class="p-muti">上级意见：</label>
                                <div class="wrap-input form-flex-item">{{ctrl.pageData.leaderComment}}</div>
                            </div>
                            <div class="p-form-item form-flex" ng-if="ctrl.pageData.safeComment">
                                <label class="p-muti">安全意见：</label>
                                <div class="wrap-input form-flex-item">{{ctrl.pageData.safeComment}}</div>
                            </div>
                        </div>

                        <div class="info-con p-form-item" ng-cloak ng-if="ctrl.pageData.buttonState==4">
                            <span class="info-title">实际修复方案</span>
                            <div class="p-form-item form-flex">
                                <label>与修复建议是否一致:</label>
                                <div class="wrap-input p-col-1" ng-class="{'p-error':(ctrl.pageData.actualRepairPlanType==null ||ctrl.pageData.actualRepairPlanType=='')&& myForm.actualRepairPlanType.$touched}">
                                    <select class="p-form-control " name="actualRepairPlanType" ng-required="true" ng-model="ctrl.pageData.actualRepairPlanType">
                                        <option value="">请选择</option>
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                    <span class="p-error-msg">请选择</span>
                                </div>
                            </div>
                            <div class="p-form-item form-flex" ng-show="ctrl.pageData.actualRepairPlanType==0">
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':(ctrl.pageData.actualRepairPlan=='' || ctrl.pageData.actualRepairPlan==null) && ctrl.pageData.actualRepairPlanType==0 && myForm.actualRepairPlan.$touched}">
                                    <textarea class="p-form-control" placeholder="请说明实际修复方案" name="actualRepairPlan" ng-required="ctrl.pageData.actualRepairPlanType==0" ng-model="ctrl.pageData.actualRepairPlan" maxlength="2000"></textarea>
                                    <span class="p-error-msg">请说明实际修复方案</span>
                                </div>
                            </div>
                        </div>

                        <div class="info-con p-form-item form-flex" ng-cloak ng-if="ctrl.pageData.buttonState==4">
                            <span class="info-title">漏洞产生原因</span>
                            <div class="wrap-input form-flex-item">
                                <textarea class="p-form-control" ng-model="ctrl.pageData.holeReason" maxlength="2000"></textarea>
                            </div>
                        </div>

                        <div class="info-con" ng-cloak ng-if="[2,4,21,41].indexOf(ctrl.pageData.buttonState)!=-1">
                            <span class="info-title">漏洞处理</span>
                            <div ng-if="(ctrl.pageData.buttonState == 2 || ctrl.pageData.buttonState == 4) && ctrl.calculateEngineer(headerPageData.email)" class="p-form-item form-flex">
                                <label class="item-label"><span class="i-must">*</span>部门-产品线：</label>
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':(!ctrl.pageData.updateHoleDept || !ctrl.pageData.updateHoleDept.length ) && ctrl.showErrors}">
                                    <ui-my-auto-complete url="ctrl.getDepartmentUrl" placeholder="请输入受影响部门产品线（中文）" removeSelected="false" isSample="true" sampleShowName="productName" name="updateHoleDept" ng-model="ctrl.pageData.updateHoleDept">
                                        <ui-select-match-item>{{$item.productName}}</ui-select-match-item>
                                        <ui-auto-complete-list>{{item.productName}}</ui-auto-complete-list>
                                    </ui-my-auto-complete>
                                    <span class="p-error-msg" ng-class="{'ng-invalid':!ctrl.pageData.updateHoleDept||!ctrl.pageData.updateHoleDept.length}">请输入并选择一个部门产品线</span>
                                </div>
                            </div>
                            <div class="p-form-item form-flex">
                                <label class="item-label"><span class="i-must">*</span>修复人更新：</label>
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':!ctrl.pageData.repairPeople || !ctrl.pageData.repairPeople.length}">
                                    <ui-my-auto-complete url="ctrl.getUsersUrl" placeholder="请输入修复人" name="repairPeople" ng-model="ctrl.pageData.repairPeople" ng-cloak>
                                        <ui-select-match-item>{{$item.department.split('>')[0]}}-{{$item.name}} </ui-select-match-item>
                                        <ui-auto-complete-list>{{item.department}}-{{item.name}}-{{item.email}}</ui-auto-complete-list>
                                    </ui-my-auto-complete>
                                    <span class="p-error-msg" ng-class="{'ng-invalid':!ctrl.pageData.repairPeople || !ctrl.pageData.repairPeople.length}">请输入并选择修复人</span>
                                </div>
                            </div>

                            <div class="p-form-item form-flex">
                                <label class="item-label"><span class="i-placeholder">x</span>关注人更新：</label>
                                <label><span ng-bind-html="ctrl.pageData.followersText | to_trusted"></span></label>
                                <div class="wrap-input form-flex-item">
                                    <ui-my-auto-complete url="ctrl.getUsersUrl" placeholder="请输入关注人" name="newFollowers" ng-model="ctrl.pageData.newFollowers" ng-cloak>
                                        <ui-select-match-item>{{$item.department.split('>')[0]}}-{{$item.name}} </ui-select-match-item>
                                        <ui-auto-complete-list>{{item.department}}-{{item.name}}-{{item.email}}</ui-auto-complete-list>
                                    </ui-my-auto-complete>
                                </div>
                            </div>

                            <!-- 移动到延期框 -->
                            <!-- <div class="p-form-item form-flex align-start">
                                <label class="item-label">期望修复时间：</label>
                                <div class="wrap-input form-flex-item direction-column" ng-class="{'p-error':!ctrl.pageData.expireTime}">
                                    <div class="input-group p-col-2">
                                        <input class="form-control" type="text" uib-datepicker-popup name="expireTime" close-text="关闭" clear-text="清除" current-text="今天"
                                            readonly="readonly" datepicker-popup="yyyy-MM-dd" datepicker-options="ctrl.expireTimeOptions"
                                            ng-required="true" is-open="ctrl.expireTimeIsOpen" onclose="ctrl.expireTimeClose()"
                                            ng-model="ctrl.pageData.expireTime" ng-click="ctrl.expireTimeOpen()">
                                        <span class="input-group-btn" ng-click="ctrl.expireTimeOpen()">
                                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                    </div>
                                    <span class="p-error-msg fs-12">请选择期望修复时间</span>
                                    <span class="red-color" style="line-height:20px;">超期计时从“待修复”到“已修复”计算。若超期未修复会逐级向上通报，最高通报到CTO。<br/>若更新续费时间需处理人上级和安全工程师在系统确认，两者全部确认后时间方可更新成功。</span>
                                </div>
                            </div> -->
                            <div class="p-form-item form-flex">
                                <label class="item-label"><span class="i-must">*</span>备注：</label>
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':!ctrl.pageData.remark && myForm.remark.$touched}">
                                    <textarea class="p-form-control" ng-required="true" name="remark" maxlength="2000" ng-model="ctrl.pageData.remark"></textarea>
                                    <span class="p-error-msg">请填写备注</span>
                                </div>
                            </div>
                        </div>

                        <div class="info-con" ng-cloak ng-if="[30,3].indexOf(ctrl.pageData.buttonState)!=-1">
                            <span class="info-title">漏洞处理</span>

                            <div ng-if="ctrl.pageData.buttonState == 3" class="p-form-item form-flex">
                                <label class="item-label"><span class="i-must">*</span>部门-产品线：</label>
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':(!ctrl.pageData.updateHoleDept || !ctrl.pageData.updateHoleDept.length ) && ctrl.showErrors}">
                                    <ui-my-auto-complete url="ctrl.getDepartmentUrl" placeholder="请输入受影响部门产品线（中文）" removeSelected="false" isSample="true" sampleShowName="productName" name="updateHoleDept" ng-model="ctrl.pageData.updateHoleDept">
                                        <ui-select-match-item>{{$item.productName}}</ui-select-match-item>
                                        <ui-auto-complete-list>{{item.productName}}</ui-auto-complete-list>
                                    </ui-my-auto-complete>
                                    <span class="p-error-msg" ng-class="{'ng-invalid':!ctrl.pageData.updateHoleDept||!ctrl.pageData.updateHoleDept.length}">请输入并选择一个部门产品线</span>
                                </div>
                            </div>

                            <div class="p-form-item form-flex">
                                <label class="item-label"><span class="i-must">*</span>修复人更新：</label>
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':!ctrl.pageData.repairPeople || !ctrl.pageData.repairPeople.length}">
                                    <ui-my-auto-complete url="ctrl.getUsersUrl" placeholder="请输入修复人" name="repairPeople" ng-model="ctrl.pageData.repairPeople" ng-cloak>
                                        <ui-select-match-item>{{$item.department.split('>')[0]}}-{{$item.name}} </ui-select-match-item>
                                        <ui-auto-complete-list>{{item.department}}-{{item.name}}-{{item.email}}</ui-auto-complete-list>
                                    </ui-my-auto-complete>
                                    <span class="p-error-msg" ng-class="{'ng-invalid':!ctrl.pageData.repairPeople || !ctrl.pageData.repairPeople.length}">请输入并选择修复人</span>
                                </div>
                            </div>

                            <div class="p-form-item form-flex">
                                <label class="item-label"><span class="i-placeholder">x</span>关注人更新：</label>
                                <label><span ng-bind-html="ctrl.pageData.followersText | to_trusted"></span></label>
                                <div class="wrap-input form-flex-item">
                                    <ui-my-auto-complete url="ctrl.getUsersUrl" placeholder="请输入关注人" name="newFollowers" ng-model="ctrl.pageData.newFollowers" ng-cloak>
                                        <ui-select-match-item>{{$item.department.split('>')[0]}}-{{$item.name}} </ui-select-match-item>
                                        <ui-auto-complete-list>{{item.department}}-{{item.name}}-{{item.email}}</ui-auto-complete-list>
                                    </ui-my-auto-complete>
                                </div>
                            </div>

                            <div class="p-form-item form-flex">
                                <label class="item-label"><span class="i-placeholder">x</span>标签更新：</label>
                                <span class="mark" ng-repeat="item in ctrl.pageData.holeTags">{{item}} </span>
                                <div class="wrap-input form-flex-item">
                                    <ui-my-add-mark placeholder="请输入标签，回车添加，最多添加{{10-ctrl.pageData.holeTags.length}}个标签" limit="{{10-ctrl.pageData.holeTags.length}}" name="newHoleTags" maxlength="6" ng-model="ctrl.pageData.newHoleTags">
                                        <ui-select-mark-item>{{$item}} </ui-select-match-item>
                                    </ui-my-add-mark>
                                </div>
                            </div>
                        </div>
                        <!-- DSRC 漏洞 -->
                        <div ng-if="ctrl.pageData.holeDsrcInfo">
                            <!-- <div> -->
                            <div class="p-form-item form-flex">
                                <div class="wrap-input form-flex-item" ng-class="{'p-error':(!ctrl.pageData.repairPeople || !ctrl.pageData.repairPeople.length)  &amp;&amp; ctrl.showErrors}">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="20%">风险评估</th>
                                                <th width="20%">白帽自评</th>
                                                <th>安全建议</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>危害性(Damage)</td>
                                                <td>
                                                    <span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.selfEffectBiz, 65, true)}}</span>
                                                </td>
                                                <td>
                                                    <span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.socEffectBiz, 65)}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>复现难度(Reproducibity)</td>
                                                <td>
                                                    <span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.selfRecurrentLevel, 66, true)}}</span>
                                                </td>
                                                <td>
                                                    <span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.socRecurrentLevel, 66)}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>利用难度(Exploitability)</td>
                                                <td><span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.selfUsedLevel, 67, true)}}</span></td>
                                                <td>
                                                    <span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.socUsedLevel, 67)}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>受影响用户(Affected users)</td>
                                                <td><span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.selfVolumeLevel, 68, true)}}</span></td>
                                                <td><span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.socVolumeLevel, 68)}}</span></td>
                                            </tr>

                                            <tr>
                                                <td>发现难度DIscoverability)</td>
                                                <td><span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.selfDiscoverLevel, 69, true)}}</span></td>
                                                <td><span>{{ctrl.splitSelfScore(ctrl.pageData.holeDsrcInfo.socDiscoverLevel, 69)}}</span></td>
                                            </tr>
                                            <tr>
                                                <td>综合评价等级</td>
                                                <td><span>{{ctrl.pageData.holeDsrcInfo.selfLevelString}}</span></td>
                                                <td><span>{{ctrl.pageData.holeDsrcInfo.socLevelString}}</span></td>
                                            </tr>
                                            <tr>
                                                <td>等级不一致说明</td>
                                                <td colspan="2">
                                                    <span>{{ctrl.pageData.holeDsrcInfo.remark}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="p-border"></div>
                <!--2-A-1修复中-编辑-漏洞修复方-->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==2">
                    <!--漏洞签收接口-->
                    <a href="javascript:" class="p-btn" ng-click="ctrl.repaire()">修复完成</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.returnBackDialog()">打回</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showDelay()">延期</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showNotRepeair('/hole/noRepair')">不修复</a>
                </div>
                <!--3-A-1修复中-编辑-漏洞修复方-->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==4">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.repaire()">修复完成</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.returnBackDialog()">打回</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showDelay()">延期</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showNotRepeair('/hole/noRepair')">不修复</a>
                </div>
                <!--2-A-2待修复-编辑-安全-->
                <!--3-A-2修复中-编辑-安全-->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==3">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.bugUpdate()">更新</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showDialog('/hole/retract','撤回成功')">撤回</a>
                </div>
                <!--7-A-被忽略-编辑-漏洞来源方-->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==8">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.ignore()">忽略</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.returnBackDialog()">打回</a>
                </div>
                <!--9-A-确认不修复-编辑-修复人上级-->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==6">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.showConfirmNotRepeair()">同意不修复</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.stillNeedRepaire()">仍需修复</a>
                </div>
                <!--10-A-验证不修复-编辑-安全-->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==7">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.showConfirmNotRepeair2()">同意不修复</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.stillNeedRepaire()">拒绝不修复</a>
                </div>
                <!-- 11- -->
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==21 || ctrl.pageData.buttonState==41">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.repaire()">确认</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.returnBackDialog()">打回</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showNotRepeair('/hole/noRepair')">不修复</a>
                    <a href="javascript:" class="p-btn" ng-click="ctrl.showAgreedDelay()">同意延期</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showRefusedDelay()">拒绝延期</a>
                </div>
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==20 || ctrl.pageData.buttonState==40">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.showAgreedDelay()">同意延期</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showRefusedDelay()">拒绝延期</a>
                </div>
                <div class="wrap-center-btn" ng-cloak ng-if="ctrl.pageData.buttonState==30">
                    <a href="javascript:" class="p-btn" ng-click="ctrl.bugUpdate()">更新</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showDialog('/hole/retract','撤回成功')">撤回</a>
                    <a href="javascript:" class="p-btn" ng-click="ctrl.showAgreedDelay()">同意延期</a>
                    <a href="javascript:" class="p-btn border-btn" ng-click="ctrl.showRefusedDelay()">拒绝延期</a>
                </div>
                <div class="comment-record">
                    <record-html url="/hole/getHoleRecord"></record-html>
                    <comment-html></comment-html>
                </div>
                <script type="text/ng-template" id="commentPopoverTemplate.html">
                    <div class="p-popover">
        <p>确定要删除该评论吗</p>
        <a href="javascript:" class="p-btn p-btn-sm" ng-click="deleteComment($event)">确定</a>
        <a href="javascript:" class="p-btn p-btn-sm border-btn" data-dismiss="popover">取消</a>
    </div>
</script>
            </div>
        </div>
    </div>

    <script src="http://sec-aegisfe.didistatic.com/static/aegisfe/water-mark2.0.js"></script>
    <script src="/lib/angular/angular1.5.8.js?_v=11cf7b"></script>
    <script src="/lib/requirejs/require-lib.js?_v=5e2b8a"></script>
    <script src="/project/portals/config/config.js?_v=000d11"></script>
    <script src="/lib/angular/angular-sanitize.js?_v=76d49b"></script>
    <script>
        var _hmt = _hmt || [];
        //让业务页面首先加载，footer和统计稍后加载
        setTimeout(function() {
            require(['modules/footer/js/footer']);
            var node = document.createElement("script");
            node.type = 'text/javascript';
            node.charset = 'utf-8';
            node.async = true;
            node.src = "https://hm.baidu.com/hm.js?c18c832524e2ba13e50440194cb8f7a1";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(node, s);
        }, 0)
    </script>
    <footer class="footer" ng-cloak>
        <!-- <p> 
        <label style="margin-right: 15px;">滴滴出行安全产品与技术部开发并维护</label>
        扫码加入钉钉反馈群：<img  width="90" height="90"  src="/project/portals/i/code.png?_v=80763a"/>
    </p> -->
        <div class="footer-container">
            <div class="footer-item" style="width: 50%;">
                <p class="footer-item--title">安全管理平台</p>
                <p class="footer-item--desc">我们专注提供一站式安全服务，打造一流安全平台，建设顶级安全服务能力，为滴滴信息安全、业务安全和客户安全保驾护航。</p>
                <p class="footer-item--desc">反馈邮箱： soc@didichuxing.com</p>
            </div>
            <div style="width: 40%;">
                <p class="footer-item--desc">扫码加入钉钉反馈群</p>
                <img width="100" height="100" src="/project/portals/i/code.png?_v=80763a" />
            </div>
        </div>

        <!-- <div popover-placement="left-bottom" uib-popover-template="'options-panel.html'" popover-trigger="'mouseenter'"  class="p-btn-scroll-code fadein" style="bottom: 165px;">
        <img  width="30" height="30"  src="/project/portals/i/code.png?_v=80763a"/>
    </div>
    <script type="text/ng-template" id="options-panel.html">
        <div class="form-group">
          <div>扫码加入钉钉反馈群:</div>
          <img  width="150" height="150"  src="/project/portals/i/code.png?_v=80763a"/>
        </div>
    </script> -->
    </footer>
    <script>
        require(['js/bug-detail/index']);
    </script>
</body>

</html>