@charset "UTF-8";
/* @Date: 2018-12-27 17:33:03 @Author: 刘亚伟 @LastEditTime: 2019-01-23 11:09:42 */
.top_nav { width: 100%; height: auto; background: #277ad8; position: fixed; top: 0; left: 0; z-index: 100; }

.top { width: 100%; height: 1.95556rem; background: #277ad8; position: fixed; top: 0; left: 0; z-index: 100; color: #fff; font-size: 0.71111rem; }

.top i { position: absolute; top: 0.47407rem; left: 0.44444rem; font-size: 0.96296rem; z-index: 10; }

.top span:nth-of-type(1) { display: block; width: 100%; position: absolute; top: 0; left: 0; text-align: center; line-height: 1.95556rem; }

.top span:nth-of-type(2) { display: block; width: 30%; position: absolute; top: 0; right: 0; text-align: right; line-height: 1.95556rem; padding-right: 0.44444rem; }

header { width: 100%; height: 2.68148rem; background: #ffffff; position: relative; margin-top: 1.95556rem; padding-bottom: 0.2963rem; position: relative; }

header:after { background: #ededed; transform: scaleY(0.5); content: ""; width: 100%; height: 1px; position: absolute; z-index: 2; bottom: 0; left: 0; -webkit-transform: scaleY(0.5); -moz-transform: scaleY(0.5); -ms-transform: scaleY(0.5); -o-transform: scaleY(0.5); }

header .left { width: 40%; height: 100%; margin-top: 0.59259rem; margin-left: 0.74074rem; font-size: 0.71111rem; float: left; color: #333333; }

header .left .title { font-weight: bold; }

header .left .gupiao { color: #636a87; font-size: 0.68148rem; margin-left: 0.07407rem; font-weight: bold; font-family: 'Conv_DINAlternateBold'; }

header .left .time { font-size: 0.53333rem; color: #a1a2a8; }

header .right { width: 40%; float: right; margin-top: 0.63704rem; font-size: 0.8rem; text-align: right; padding-right: 1.57037rem; font-weight: bold; font-family: 'Conv_DINAlternateBold'; }

header .bottom { width: auto; float: right; font-size: 0.53333rem; padding-right: 1.57037rem; margin-top: 0.14815rem; font-family: 'Conv_DINAlternateBold'; }

header i { position: absolute; right: 0.74074rem; top: 1.18519rem; font-size: 0.59259rem; color: #a1a2a8; }

.t_red .right { color: #e34852; }

.t_red .bottom { color: #e34852; }

.t_green .right { color: green; }

.t_green .bottom { color: green; }

.fenxian { width: 100%; height: auto; background: #fff; float: left; }

.fenxian li { width: 4.63704rem; height: 3.06667rem; margin-top: 0.37037rem; float: left; background: url(../images/li-bg_06.png); background-size: 100% 100%; box-shadow: 0.07407rem 0.07407rem 0.44444rem 0rem #639df5ad; position: relative; border-radius: 0.11852rem; -webkit-border-radius: 0.11852rem; -moz-border-radius: 0.11852rem; -ms-border-radius: 0.11852rem; -o-border-radius: 0.11852rem; }

.fenxian li i { position: absolute; bottom: 0; right: 0; width: 0.74074rem; height: 0.74074rem; }

.fenxian li:nth-of-type(1) { margin-left: 0.74074rem; }

.fenxian li:nth-of-type(2), .fenxian li:nth-of-type(3) { margin-left: 0.26667rem; }

.fenxian li span:nth-of-type(1) { width: 100%; display: block; font-size: 0.62222rem; color: #fff; text-align: center; margin-top: 0.59259rem; }

.fenxian li span:nth-of-type(2) { width: 100%; display: block; font-size: 0.8rem; color: #fff; text-align: center; font-weight: bold; }

.fenxian p { width: 14.57778rem; height: 2.22222rem; background: #f7f8fa; margin: 0 auto; box-sizing: border-box; padding-left: 0.96296rem; font-size: 0.66667rem; color: #636a88; line-height: 2.37037rem; margin-top: 0.41481rem; border-radius: 0.11852rem; -webkit-border-radius: 0.11852rem; -moz-border-radius: 0.11852rem; -ms-border-radius: 0.11852rem; -o-border-radius: 0.11852rem; }

.main_top { width: 100%; height: auto; background: #fff; margin-top: 0.2963rem; }

.main_top > p { width: 100%; height: 1.6rem; background: url(../images/left_03.jpg) no-repeat; background-size: 1.00741rem 0.71111rem; background-position: 0.74074rem 0.37037rem; line-height: 1.6rem; font-size: 0.62222rem; color: #333333; font-weight: bold; box-shadow: 0rem 0.2963rem 0.74074rem 0rem #e8eaecbe; margin-bottom: 0.82963rem; }

.main_top > p span { margin-left: 2.04444rem; }

.main_top .list { width: 14.75556rem; height: 9.64444rem; margin: 0.2963rem auto 0; overflow: hidden; padding-bottom: 1.03704rem; position: relative; }

.main_top .list:after { background: #e5e5e5; transform: scaleY(0.5); content: ""; width: 100%; height: 1px; position: absolute; z-index: 2; bottom: 0; left: 0; -webkit-transform: scaleY(0.5); -moz-transform: scaleY(0.5); -ms-transform: scaleY(0.5); -o-transform: scaleY(0.5); }

.main_top .list:nth-last-of-type(1) { border: none; }

.main_top .list ul { position: relative; }

.main_top .list ul > img { width: 0.57778rem; height: 0.57778rem; position: absolute; top: 0; right: 0.2963rem; z-index: 10; transform: rotate(180deg); transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }

.main_top .list ul > p { width: 2.14815rem; height: 0.71111rem; font-size: 0.44444rem; text-align: center; line-height: 0.81481rem; color: #fff; background: #ed7f54; position: absolute; left: 3.40741rem; top: -0.07407rem; border-radius: 0.07407rem; -webkit-border-radius: 0.07407rem; -moz-border-radius: 0.07407rem; -ms-border-radius: 0.07407rem; -o-border-radius: 0.07407rem; }

.main_top .list ul > p:nth-of-type(2) { background: #e55656 !important; }

.main_top .list ul li { font-size: 0.53333rem; color: #636a88; position: relative; margin-top: 0.44444rem; }

.main_top .list ul li:nth-of-type(1) { color: #333333; margin-top: 0.2963rem; }

.main_top .list ul li span { width: 3.58519rem; display: inline-block; }

.main_top .list ul li span:nth-child(even) { color: #333333; width: auto; }

.main_top .list ul li span:nth-child(4) { width: 2.22222rem !important; float: right; text-align: right; }

.main_top .list ul .text { width: 4.17778rem !important; }

.main_top .list ul .zong { position: absolute; top: 0; left: 8.14815rem; }

.main_top .list ul .zong_ { position: absolute; top: 0; right: 0rem; }

.main_top .list ul .right { width: 4.2963rem; }

.main_top .list:nth-last-of-type(1) { background: red; }

.infinity { width: 100%; height: 0.8rem; margin-top: 0.2963rem; background: #fff; margin-bottom: 0.96296rem; }

.infinity img { width: 3.40741rem; height: 0.8rem; display: block; margin: 0 auto; }

.alert { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 99999; background: rgba(0, 0, 0, 0.397); display: none; }

.alert .alert1 { width: 12.51852rem; height: auto; background: #ffffff; padding-bottom: 1.33333rem; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); border-radius: 0.2963rem; -webkit-border-radius: 0.2963rem; -moz-border-radius: 0.2963rem; -ms-border-radius: 0.2963rem; -o-border-radius: 0.2963rem; overflow: hidden; }

.alert .alert1 img { width: 100%; height: auto; }

.alert .alert1 p { width: 85%; margin: 0 auto; font-size: 0.59259rem; color: #333333; line-height: 1.03704rem; }

.alert .alert1 p:nth-of-type(1) { margin-top: 0.2963rem; }

.alert .alert1 p span { font-weight: bold; }

.alert .alert1 button { width: 8.88889rem; height: 1.80741rem; background: #4d97ec; border-radius: 0.14815rem; -webkit-border-radius: 0.14815rem; -moz-border-radius: 0.14815rem; -ms-border-radius: 0.14815rem; -o-border-radius: 0.14815rem; outline: none; border: none; margin-left: 1.68889rem; color: #f8fdff; font-size: 0.59259rem; margin-top: 0.59259rem; }

.img_click { transform: rotate(0deg) !important; -webkit-transform: rotate(0deg) !important; -moz-transform: rotate(0deg) !important; -ms-transform: rotate(0deg) !important; -o-transform: rotate(0deg) !important; }

.all { display: -webkit-flex; display: flex; display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -moz-box; }

.all img { width: 3.40741rem; height: 0.8rem; margin: 0 auto; }

.nodata { width: 100%; margin-top: 50%; transform: translate(0, -50%); -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); }

.nodata p { width: 100%; text-align: center; font-size: 0.59259rem; color: #333333; }

.nodata img { width: 40%; margin-left: 50%; transform: translate(-50%, 0); -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); }

.clear { clear: both; overflow: hidden; }

.show { display: block; }

.hide { display: none; }

.noborder { border: none; }
