.upm-strategy-edit {
  @label-width: 70px;
  .upm-strategy-tags {
    position: relative;
    .ant-form-item-label {
      width: @label-width
    }
    &__oper {
      white-space: nowrap;
      margin-left: 24px;
      position: absolute;
    }
  }
}
