.service-cache{
  .ant-form-item-label{
    text-align: left;
  }
  .act-btn{
    margin-right: 20px;
  }
  .card-container{
    margin-top: 20px;
  }
  .json-output{
    margin-top: 20px; min-height: 200px; max-height: 400px; overflow-y: auto;
    border: 1px solid #e8e8e8;
    padding: 10px 20px;
  }
  .row-container{
    margin-top: 20px;
  }
}