@side-width: 200px;
@header-height: 72px;
@crumbs-height: 50px;
@nav-min: 65px;
@base-padding: 15px;
@description-height: 50px;
@line-height-base:        1.428571429; // 20/14

//color
@default-sdl-color: #fc9153;
@default-primary-bg: #19aa8d;
@default-minor-bg: #2f4050;
@default-minor-color: #c0c4cc;
@default-bg: #ffffff;
@default-border: #c0c4cc;
@default-nav-bg-color: #F6F7FC;
@default-nav-thumb-vertical: #CCCCCC;
@default-nav-thumb-horizontal: #CCCCCC;

@default-container-bg: #fbfbfb;
@default-side-bg: #2f4050;
@default-logo-bg: #19aa8d;
@default-menu-color: #a7b1c2;
@default-header-bg: #ffffff;
@default-header-border: #ebeef5;
@default-crumbs-bg: #ffffff;
@default-crumbs-border: #e2e2e2;
@default-color-primary: #409EFF;
@default-color-success: #67C23A;
@default-color-warning: #E6A23C;
@default-color-danger: #F56C6C;
@default-color-info: #909399;

@blue-primary-bg: #2871b0;
@blue-minor-bg: #ffffff;
@blue-minor-light-bg: #eaf1f7;
@blue-minor-color:#c0c4cc;
@blue-bg: #ffffff;
@blue-border: #e2e2e2;
@blue-container-bg: #f5f5f5;
@blue-side-bg: #ffffff;
@blue-logo-bg: #343c49;
@blue-logo-border: #303133;
@blue-menu-color: #969696;
@blue-header-bg: #343c49;
@blue-header-border: #e2e2e2;
@blue-crumbs-bg: #ffffff;
@blue-crumbs-border: #e2e2e2;
@blue-table-th: #f9f9f9;
@blue-color-primary: #409EFF;
@blue-color-success: #67C23A;
@blue-color-warning: #E6A23C;
@blue-color-danger: #F56C6C;
@blue-color-info: #909399;

@orange-primary-bg: #fc9153;
@orange-minor-bg: #3c3d45;
@orange-minor-light-bg: #4c4f54;
@orange-minor-color: #c0c4cc;
@orange-bg: #ffffff;
@orange-border: #e2e2e2;
@orange-container-bg: #fbfbfb;
@orange-side-bg: #3c3d45;
@orange-logo-bg: #fc9153;
@orange-menu-color: #666666;
@orange-header-bg: #ffffff;
@orange-header-border: #e2e2e2;
@orange-crumbs-bg: #ffffff;
@orange-crumbs-border: #e2e2e2;
@orange-color-primary: #409EFF;
@orange-color-success: #67C23A;
@orange-color-warning: #E6A23C;
@orange-color-danger: #F56C6C;
@orange-color-info: #909399;
