.new-apply {
  .ant-form {
    // 固定宽度，防止页面动态边长，增加右侧滚动条时，表单出现宽度抖动
    width: 1000px;

    .new-apply-form-button {
      min-width: 120px;
    }
  }
}

.bigData-help-info{
  display: none;
  position: absolute;
  right: -25px;
  top: 12px;
  color: #ff7d4c;
  font-size: 16px;
  &.show-icon{
    display: inline-block;
  }
}

.new-apply-modal-wrapper {

  .workflow-steps {
    .ant-steps-item-description {
      font-size: 12px;
      white-space: normal;
      word-break: break-all;
    }
  }
}

.city-wrapper{
  margin-bottom: 20px;
  .ant-row.ant-form-item{
    margin-bottom: 0;
  }
  .city-tip{
    display: inline;
    margin-left: 165px;
  }
}
