.edit-notice-config{
  .ant-row{
    margin-bottom: 10px;
  }
  .ant-form-item{
    display: flex; margin-bottom: 10px;
    .ant-form-item-label{
      text-align: left;
    }
  }
  .ant-form-item-control-wrapper{
    flex: 1;
  }
  .action-btn{
    text-align: center; margin-top: 20px;
    .act-btn{
      margin-left: 20px;
    }
  }
  /*editor style*/
  .notice-wrap{
    border: 1px solid #d9d9d9;
  }
  .notice-toolbar{
    border: none;
    border-bottom: 1px solid #d9d9d9;
    .rdw-option-wrapper, .rdw-fontsize-dropdown, .rdw-link-modal{
      box-sizing: initial;
    }
    .rdw-emoji-icon{
      color: #000;
    }
    .rdw-link-modal-label, .rdw-link-modal-btn, .rdw-embedded-modal-header-option, .rdw-embedded-modal-btn, .rdw-image-modal-header-option, .rdw-image-modal-btn, .rdw-image-modal-size{
      line-height: 1;
    }
    .rdw-embedded-modal-link-section{
      margin-top: 10px;
    }
  }
  .notice-editor{
    padding: 0 8px; line-height: 1; color: #000;
    min-height: 150px;
  }
  .editor-wrap{
    .ant-form-item-control-wrapper{
      padding-top: 5px;
      margin-left: -2px;
    }
    .ant-form-item-label{
      width: 10.333333%;
    }
  }
}