.approve-loadmore-list{
  .ant-row:not(:last-child){
    margin-bottom: 10px;
  }
  .ant-list-item-action{
    text-align: right;
  }
  .ant-list-item-content{
    margin-bottom: 0;
  }
  .auth-list{
    word-break: break-word;
  }
  .loadmore-btn{
    text-align: center; margin-top: 12px; height: 32px; line-height: 32px;
  }
  .item-link{
    display: block; color: rgba(0, 0, 0, 0.65);
  }
}