.ant-menu-item-active{
  color: #4260e8 !important;
}
.submenuPop{
  position: fixed;
}
.ant-carousel .slick-dots li{
  margin: 0 8px !important;
}

.relationImg{
  width: 120px;
}
.ant-back-top-content{
  width: 40px !important;
  height: 40px !important;
  background-size: 100% !important;
  background: none;
}
.ant-back-top-icon{
  display: none;
}
.childrenMenus{
  .ant-menu-submenu{
    position: static !important;
  }
}
.ant-menu-submenu-inline{
  position: static !important;
}
.ant-confirm-body .ant-confirm-content{
  margin-top: 0 !important;
}
.ant-modal{
  top: 40% !important;
}