
// @font-face {
//   font-family: '华康金刚黑';//自定义字体名称
//   src: url('../assets/font/didifont.ttf')
// }
html,
body,
div,
p,
form,
ul,
ol,
li,
table,
th,
td,
label,
pre,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font: normal  14px arial, helvetica, sans-serif;
}

html,
body {
  height: 100%;
  // overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}


@import './resetAntd.less';
