.project-capacity{
  margin: 0 auto;
  padding-top: 104px;
  
  width: 1200px;
  height: auto;

  &-content{
    width: 914px;
    height: auto;
    float: right;
  }
  .divider{
    margin-top: 40px;
    width: 1px;
    height: 120px;
    background-color: #c7c7c7;
  }
}
