.my-tools {
  &__tool {
    margin-bottom: 15px;
  }
  .tools-header {
    // padding: 0 12px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    .title {
      font-size: 20px;
      color: #444444;
      line-height: 32px;
      // float: left;
    }
    .info {
      padding-top: 10px;
    }
    .support {
      // float: right;
    }
  }
  .searchinfo {
    font-size: 14px;
    color: #666666;
  }
  .tabel_header_line {
    display: inline-block;
    width: 1px;
    background: #e8e8e8;
    height: 20px;
    position: absolute;
    left: -7px;
  }
}
.shortcut-apply-row:not(:first-child) {
  margin-top: 20px;
}
.shortcut-apply-row {
  .required {
    color: red;
  }
}
