@head-height: 48px;
@base-space: 24px;
@side-width: 200px;

@base-mobile-unit: 75px;

@base-bg: #ffffff;
@base-bg-mobile: #ffffff;
@base-bg-pc-header: #001529;
@base-bg-pc-sider: #282A35;
@active-bg: #ddd;
@primary-color: #ff7d4c;
