.upm-feature-rele-group {
  &__info {
    max-height: 150px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__detail {
    margin-top: 12px;
  }
}
