.mainContent {
  display: flex;
  width: 100%;
  height: calc(100vh - 88px);
  margin: 0 !important;
  padding: 15px 0;
}

.searchLine {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .buttonGroup {
    margin-right: 10px;
  }
}

.editInfoBtn {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}

.TableButtons {
  display: flex;
  justify-content: space-between;
}

.EasyMainContentTableJob {
  background-color: white;

  .SearchCardStyleTableJob {
    display: none;
  }

  :global(.ant-card-body) {
    padding: 0;
  }
}

.EasyMainContentTableBind {
  background-color: white;
  .TableCardStyleTableBind {
    margin-top: 10px;
    :global(.ant-card-body) {
      padding: 0;
    }
  }
}
.site {
  color: #f50;
}

.editIcon{
  cursor: pointer;
  color: #FC9153;
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.external_person_select{
  width: 500px;
}

.external_person_select>div{
  overflow-y: auto !important;
  max-height: 116px !important;
}
