.ManageFlags {
  .btn {
    margin-left: 12px;
  }

  .ManageFlags-list {
    margin-top: 24px;
  }

  .search-fields {
    .ant-form-item {
      display: flex;
    }

    .ant-form-item-label {
      overflow: visible;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }

  .edit-form {
    margin-top: 24px;

    .ant-form-item-control {
    }

    .reset-btn {
      float: right;
      margin-top: 3px;
    }
  }
  .add-uploader {
    margin-right: 12px;
  }
  .ant-upload-list {
    display: none;
  }
}

.FlagsTable {
  margin-top: 12px;
  background-color: #fff;

  .delete-btn {
    margin-left: 12px;
  }
}
